{% load bootstrap4 %}
{% bootstrap_css %}
{% load static %}
{% block content %}

<!-- Start Coletores PF Area -->

    <div>
        <section class="courses section">
            <sec class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title">
                            <div class="section-icon wow zoomIn" data-wow-delay=".4s">
                                <i class="lni lni-grow"></i>
                            </div>
                            <h2 class="wow fadeInUp" data-wow-delay=".4s">Coletores Parceiros</h2>
                        </div>
                    </div>
                </div>


                <div class="single-head">
                <div class="row">
                    <div class="row">
                    {% for coletor in page_obj %}
                        <div class="col-lg-4 col-md-6 col-12">
                            <!-- Start Single Coletor PF -->
                            <div class="single-course wow fadeInUp" data-wow-delay=".2s">
                                <div class="course-image">
                                     <a><img src="{{ coletor.foto.thumb.url }}" alt="{{ coletor.foto }}"  alt="#"></a>

                                </div>
                                <div class="content">
                                    <p>
                                        {{ coletor.nome}} <br>
                                        Telefone: {{ coletor.telefone }}
                                    </p>
                                    <div class="button wow fadeInUp" data-wow-delay=".9s">
                                        <a href="{% url 'coletor_pf' %}" class="btn">Ver Perfil</a>
                                    </div>
                                </div>

                            </div>

                            <!-- End Single Coletor PF-->
                        </div>
                    {% endfor %}
                </div>
                    {% include 'paginacao.html' %}

                        <!-- End Single Coletor -->
            </div>
        </div>

        </section>
    </div>

<!-- SECTION CURSO  -->

{% endblock %}



