{% load static %}

<!-- Start Coletores PJ Area -->
    <section class="courses section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <div class="section-icon wow zoomIn" data-wow-delay=".4s">
                            <i class="lni lni-graduation"></i>
                        </div>
                        <h2 class="wow fadeInUp" data-wow-delay=".4s">Principais Empresas Coletoras</h2>
                        <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem
                            Ipsum available, but the majority have suffered alteration in some form.</p>
                    </div>
                </div>
            </div>
            <div class="single-head">
                <div class="row">
                    <div class="row">
                    {% for coletor in coletor_pj %}
                        <div class="col-lg-4 col-md-6 col-12">
                            <!-- Start Single Coletor PJ -->
                            <div class="single-course wow fadeInUp" data-wow-delay=".2s">
                                <div class="coletorPj-image">
                                     <a href="{% url 'coletor_pj' %}"><img src="{{ coletor.foto.thumb.url }}" alt="{{ coletor.foto }}"  alt="#"></a>

                                </div>
                                <div class="content">
                                    <p>
                                        Nome: {{ coletor.nome}} <br>
                                        Telefone: {{ coletor.telefone }}
                                    </p>
                                </div>

                            </div>
                            <!-- End Single Coletor PJ-->
                        </div>
                    {% endfor %}
                </div>

                        <!-- End Single Coletor -->
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- End Coletores PJ Area -->